div.todoList ul{
    list-style: none;
    text-align: left;
    width:100%;
    display: block;
    margin:0;
}
div.todoList ul li{
    display: block;
    width:80%;
    text-overflow: ellipsis;
    overflow: hidden;
}